.time {
    width: 100%;
    text-align: center;
    padding: 2rem;
}

.time h3 {
    font-size: 2rem;
    color: #212121;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 0.5rem;
}

.time .colaboradores {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}