.colaborador {
    width: 17rem;
}

.colaborador .cabecalho {
    background-color:  #F0F0F0;
    border-radius: 10px 10px 0px 0px;
}

.colaborador img {
    width: 10rem;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.colaborador .rodape {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 3.5rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.colaborador .rodape h4 {
    color: #6278F7;
    font-size: 2rem;
    font-weight: bold;
}

.colaborador .rodape h5 {
    font-size: 1.7rem;
    color: #212121;
}

.colaborador .rodape h6 {
    font-size: 1.2rem;
    color: #a5a5a5;
}